#canvas {
  height: 833px ;
  width: 1200px;
  background-image: url("the_meme_team.jpeg");
  margin: auto;
}

h1 {
  text-align: center;
}

.box {
  border: 3px solid black;
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 75px;
}